################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/deploy
/Language.Core/bin
/Language.Core/obj

/Language.Core.Tests/bin
/Language.Core.Tests/obj

/Language.Gd/bin
/Language.Gd/obj

/Language.Gd.Cli/bin
/Language.Gd.Cli/obj

/Tool.GdSyntaxGenerator/bin
/Tool.GdSyntaxGenerator/obj

/Language.Gd.Tests/bin
/Language.Gd.Tests/obj

/.vs
/**/*.generated.cs
/**/*.nuget.cache
/**/*.nuget.g.props
/**/*.nuget.g.targets
/**/project.assets.json
TestResult.xml

